 .background {
     background-color: #1cafff;
     margin: 0;

 }



 @keyframes retroBounce {

     0%,
     100% {
         transform: translateY(0);
     }

     50% {
         transform: translateY(-10px);

     }
 }





 .header {
     animation: retroBounce 1.3s steps(3) infinite;
     color: white;
     text-align: center;
     font-family: "Jersey 10";
     font-size: 110px;
     text-shadow: -2px -2px 0 #1A1A40,
         2px -2px 0 #1A1A40,
         -2px 2px 0 #1A1A40,
         2px 2px 0 #1A1A40;


 }

 .header:hover {
     animation-play-state: paused;
 }


 .navbar {
     text-decoration: none;
     background-color: #4256d9;
     font-family: "Jersey 10";
     padding-left: 15px;
     padding-right: 15px;
     font-size: 30px;

 }

 .navdiv {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .logo a {
     display: flex;
     vertical-align: middle;
     text-decoration: none;
     color: white;
     font-size: 50px;
     text-shadow: -1px -1px 0 #1A1A40,
         1px -1px 0 #1A1A40,
         -1px 1px 0 #1A1A40,
         1px 1px 0 #1A1A40;

 }

 .navlist a {
     text-decoration: none;
     margin-right: 10px;
     color: white;
     list-style: none;
     display: inline-block;
 }

 .logo a:hover {
     color: #e5b0f9;
 }

 .navlist a:hover {
     color: #e5b0f9;
 }

 .homep {
     font-family: "Jersey 25";
     color: #ffffff;
     font-size: 27px;
     text-align: center;
     text-shadow: -1px -1px 0 #1A1A40,
         1px -1px 0 #1A1A40,
         -1px 1px 0 #1A1A40,
         1px 1px 0 #1A1A40;

 }

 .hobbyblock {

     background-color: #4256d9;

     font-family: "Jersey 25";
     padding-left: 5px;
     padding-right: 5px;
     padding-bottom: 10px;
     height: 100px;
     overflow: auto;


 }

 .block-title {

     text-align: center;
     margin-bottom: 15px;
     margin-top: 10px;
     font-size: 30px;
     color: #dc89fa;
     text-shadow: -1px -1px 0 #1A1A40,
         1px -1px 0 #1A1A40,
         -1px 1px 0 #1A1A40,
         1px 1px 0 #1A1A40;

 }

 .blockdesc {
     margin-top: 0px;
     color: white;

 }

 .homegrid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     column-gap: 15px;
 }

 ::-webkit-scrollbar {
     background: #e5b0f9;
 }

 ::-webkit-scrollbar-thumb {
     background: #c56fe4;
 }

 .mypic {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     outline: none;
 }



 .about {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8rem;
     padding-top: 0;
     background-color: #2a2a4b;

 }

 .abtdesc h4 {
     font-size: 6rem;
     font-weight: 700;
     line-height: 1.3;
     color: #ffffff;
     font-family: "Jersey 10";
     text-shadow: -2px -2px 0 #1A1A40,
         2px -2px 0 #1A1A40,
         -2px 2px 0 #1A1A40,
         2px 2px 0 #1A1A40;
     margin-bottom: 0;
     margin-top: 60px;
 }

 .span-name:hover {
     display: inline-block;
     animation: retroBounce 1.2s steps(2) infinite;
     color: #cb44fc;
 }

 .abtpfp img {
     position: relative;
     width: 60vh;

 }

 .abtme {
     font-family: "Jersey 25";
     color: white;
     font-size: 25px;
     margin-top: 30;
     line-height: 30px;
     text-shadow: -1px -1px 0 #1A1A40,
         1px -1px 0 #1A1A40,
         -1px 1px 0 #1A1A40,
         1px 1px 0 #1A1A40;
 }

 .gamebox {
     display: flex;
     justify-content: space-around;
 }

 .gamesdesc {
     font-family: "Jersey 25";
     font-size: 34px;
     color: white;
     text-shadow: -1px -1px 0 #1A1A40,
         1px -1px 0 #1A1A40,
         -1px 1px 0 #1A1A40,
         1px 1px 0 #1A1A40;
     background-color: #217aa3;
     padding-top: 20px;
     padding-left: 20px;

 }